
@{
    ViewBag.Title = "Index";
    ViewBag.isLogged = true;
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","User")">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <h2>User - Index</h2>
</main>

