<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger">Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h3>@ViewBag.Message</h3>
    </hgroup>
    <p>
        @ViewBag.Error
    </p>
</body>
</html>
